.main-container {
  display: flex;
  flex-direction: column; /* Change this to column to stack map and panel vertically */
  flex-grow: 1;
  height: 100vh; /* Ensure it takes the full viewport height */
}

.map-container {
  flex-grow: 1;
  height: 60vh; /* Set a specific height for the map */
}

.side-panel-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  height: 40vh; /* Set the height for the side panel */
  background-color: #f7f7f7;
}

.news-item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  width: 300px; /* Width of each news item */
  margin-right: 10px; /* Space between news items */
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
